<h1>商品編集</h1>

<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

 <h4>商品画像</h4>
 <%= f.file_field :image, accept: "/*" %>

 <h4>商品名</h4>
 <%= f.text_field :name, id:"inputName" %>

 <h4>商品説明</h4>
 <%= f.text_field :introduction, id:"inputIntroduction" %>

 <h4>ジャンル</h4>
 <%= f.collection_select :genre, Genre.all, :id, :name,
 include_blank: true, selected: @genre.name %> <!--<= 初期値表示不良　編集中-->

 <h4>税抜価格</h4>
 <%= f.number_field :price %>

 <h4>販売ステータス</h4>


 <%= f.submit '編集する'%>
<% end %>
