<h1>商品編集</h1>

<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

 <p>
  <%= f.label "商品画像" %>
  <%= f.file_field :image, accept: "/*" %>
 </p>
 <p>
  <%= f.label "商品名" %>
  <%= f.text_field :name, id:"inputName" %>
 </p>
 <p>
  <%= f.label "商品説明" %>
  <%= f.text_area :introduction, id:"inputIntroduction" %>
 </p>
 <p>
  <%= f.label "ジャンル" %>
  <%= f.collection_select :genre, Genre.all, :id, :name,
  {selected: @item.genre.name} %>
 </p>
 <p>
  <%= f.label "税抜価格" %>
  <%= f.number_field :price %> 円
 </p>
 <p>
  <%= f.label "販売ステータス"%>
   <%= f.radio_button :is_active, 0 %>
   <%= f.label "販売中"%>
   <%= f.radio_button :is_active, 1 %>
   <%= f.label "販売停止中"%>
 </p>
 <%= f.submit '編集する'%>
<% end %>
