<div class="container">
  <h3>ジャンル一覧・追加</h3>
  <div class="row-flex-column">
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
    <p>ジャンル名
     <%= f.text_field :name %>
     <%= f.submit '新規登録', class:"btn btn-success btn-lg ml-5" %>
    <% end %>
    </p>
    <div class="col-md-5">
     <table class="table">
      <thead>
       <tr class="genre">
         <th>ジャンル</th>
         <th colspan="3"></th>
       </tr>
      </thead>
      <tbody>
      <% @genres.each do |genre| %>
       <tr class="genre">
         <td><%= genre.name %></td>
         <td><%= link_to '編集する', edit_admin_genre_path(genre.id),class: "btn btn-success" %></td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
   </div>
  </div>