<!--編集中-->
<h3>注文情報入力</h3>

 <%= form_with model: @order, url: public_confirm_path, method: :post do |f| %>
　<h3>支払方法</h3>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

  <h3>お届け先</h3>
  　<p>
      <%= f.radio_button :s_address, 0 %>
      <%= f.label :address_0, "ご自身の住所" %>
    </p>
    <p>
      <%= f.radio_button :s_address, 1 %>
      <%= f.label :address_1, "登録済住所から選択" %>
    </p>
      <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
    <p>
      <%= f.radio_button :s_address, 2 %>
      <%= f.label :address_2, "新しいお届け先" %>
    </p>
    <p>
      <%= f.label :address, "郵便番号" %>
      <%= f.text_field :postal_code %>
    </p>
    <p>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :name, "宛名" %>
      <%= f.text_area :name %>
    </p>

    <%= f.submit '確認画面へ進む' %>

 <% end %>
