<!--customers/sign_in-->
<div class='container'>
  <div class='row'>
    <div class='col-md-10 p-log-in ml-5'>
<h5><strong>ログイン</strong></h5>
<p class="p-log pt-3">会員の方はこちらからログイン</p>

<%= form_with model: @customer, url: new_customer_session_path do |f| %>
<ul class="list ml-5">
  <li>
    <%= f.label :email, "メールアドレス",class:'mr-4 pr-3'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",size:"40" %>
  </li>
  <li>
    <%= f.label :password, "パスワード",class:'mr-5 pr-4' %>
    <%= f.password_field :password, autocomplete: "current-password",size:"40" %>
  </li>
</ul>
  <div class="actions ml-5">
    <%= f.submit "ログイン", class:'btn btn-primary pl-5 pr-5 ml-4' %>
  </div>
<% end %>

<p class="p-log pt-4">会員登録がお済みでない方</p>
<p class="p-log ml-5"><%= link_to 'こちら', new_customer_registration_path %> から新規登録を行ってください。</p>

    </div>
  </div>
</div>
