<!--編集中 path: public_items_path-->
<div class="container">
 <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8">
   <p class="font-d">商品一覧<span class="font">(全<%= Item.count %>件)</span></p>
   <div class="item-index">
    <div class="row">
   <% @page.each do |item| %>
   <div class="col-md-3">
          <%= link_to public_item_path(item.id) do %>
           <% if item.image.attached? %>
            <%= image_tag item.image, size: "160x100" %>
           <% else %>
            <%= image_tag 'cake', size:"160x100" %>
           <% end %>
          <% end %>
           <p>
           <%= link_to item.name, public_item_path(item.id) %>
           </p>
           <p>
           ￥<%= item.price %>
           </p>
           </div>
   <% end %>
   </div>
   </div>
   <%= paginate @page %>
  </div>
 </div>
</div>
