<!--編集中 path: public_items_path-->
<h1>商品一覧</h1>
(全<%= Item.count %>件)

 <% @items.each do |item| %>
       <tr>
         <td>
         <p><%= link_to public_item_path(item.id) do %>
          <% if item.image.attached? %>
           <%= image_tag item.image, size: "80x80" %>
          <% end %>
         <% end %>
         </td>
         <td><%= link_to item.name, public_item_path(item.id) %></td>
         <td>￥<%= item.price %></td></p>
       </tr>
<% end %>

<%= paginate @page %>